@layer tw-base, primeng, tw-components, tw-utilities, tw-variants;

// Please take note of the order in which these are imported
@import 'tailwindcss/base.css' layer(tw-base);
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/aura-dark-purple/theme.css';
@import 'primeicons/primeicons';
@import 'tailwindcss/components.css' layer(tw-components);
@import 'tailwindcss/utilities.css' layer(tw-utilities);
@import 'tailwindcss/variants.css' layer(tw-variants);
@import 'primeicons/primeicons';

@font-face {
  font-family: 'Pixelify';
  src: local('Trebutchet MS'), url('/assets/fonts/PixelifySans-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Luciole';
  src: local('Trebutchet MS'), url('/assets/fonts/Luciole-Regular.ttf');
  font-display: swap;
}

/* You can add global styles to this file, and also import other style files */
:root {
  font-family: Luciole, sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}

.logo {
  @apply box-content;
}

.title {
  font-family: Pixelify, 'sans-serif';
  background-image: linear-gradient(
    to right,
    #bf25b9,
    #836ae9,
    #1690fa,
    #00aaf3,
    #00bee0
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-button {
  font-family: Verdana, 'sans-serif';
}

.p-message {
  margin: unset;
}

.p-calendar .p-highlight {
  border-width: 2px;
  box-shadow: 0 0 5px 5px #00b8e6;
}

.p-datepicker-other-month {
  color: grey;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
