<header class="flex items-center p-4">
  <p-button
    class="flex-none lg:hidden"
    (click)="sidebarVisible = true"
    [text]="true"
    icon="pi pi-bars"
  />
  <a class="flex items-center px-2 mx-2 gap-2 mr-16" routerLink="/">
    <img class="h-8" src="/assets/images/logo.webp" alt="" />
    <span class="title text-2xl">ANGULAR HUB</span>
  </a>
  <div class="flex-none hidden lg:block">
    <ul class="flex gap-1">
      <!-- Navbar menu content here -->
      <li>
        <a
          class="p-button p-button-secondary p-button-text hover:bg-gray-500 py-1"
          routerLinkActive="routerLinkActive"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/"
          >Events</a
        >
      </li>
      <li>
        <a
          class="p-button p-button-secondary p-button-text hover:bg-gray-500 py-1"
          routerLinkActive="routerLinkActive"
          routerLink="/communities"
          >Communities</a
        >
      </li>
      <li>
        <a
          class="p-button p-button-secondary p-button-text hover:bg-gray-500 py-1"
          routerLinkActive="routerLinkActive"
          routerLink="/podcasts"
          >Podcasts</a
        >
      </li>
    </ul>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>

<p-sidebar [(visible)]="sidebarVisible">
  <ul class="flex flex-col gap-1">
    <!-- Navbar menu content here -->
    <li>
      <a
        class="hover:text-primary"
        routerLinkActive="sidebarActive"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        (click)="sidebarVisible = false"
        >Events</a
      >
    </li>
    <li>
      <a
        class="hover:text-primary"
        routerLinkActive="sidebarActive"
        routerLink="/communities"
        (click)="sidebarVisible = false"
        >Communities</a
      >
    </li>
    <li>
      <a
        class="hover:text-primary"
        routerLinkActive="sidebarActive"
        routerLink="/podcasts"
        (click)="sidebarVisible = false"
        >Podcasts</a
      >
    </li>
    <p-divider />
    <li>
      <a
        class="hover:text-primary"
        href="https://angular-hub.com/api/v1/swagger"
        target="_blank"
        >Community API</a
      >
    </li>
    <li>
      <a
        class="hover:text-primary"
        href="https://github.com/angular-sanctuary/angular-hub"
        target="_blank"
        >Contribute</a
      >
    </li>
  </ul>
</p-sidebar>
