<header class="flex items-center p-4">
  <p-button
    class="flex-1 sm:flex-none lg:hidden"
    (click)="sidebarVisible = true"
    [text]="true"
    icon="pi pi-bars"
  />
  <a
    class="hidden sm:flex lg:flex-none flex-1 items-center px-2 mx-2 gap-2 sm:mr-16"
    [ngClass]="{ flex: !isInstallButtonVisible() }"
    routerLink="/"
  >
    <img class="h-8" src="/assets/images/logo.webp" alt="" />
    <span class="title text-2xl">ANGULAR HUB</span>
  </a>
  <div class="flex-1 hidden lg:block">
    <ul class="flex gap-1">
      <!-- Navbar menu content here -->
      <li>
        <a
          class="p-button p-button-secondary p-button-text hover:bg-gray-500 py-1"
          routerLinkActive="routerLinkActive"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/"
          >Events</a
        >
      </li>
      <li>
        <a
          class="p-button p-button-secondary p-button-text hover:bg-gray-500 py-1"
          routerLinkActive="routerLinkActive"
          routerLink="/communities"
          >Communities</a
        >
      </li>
      <li>
        <a
          class="p-button p-button-secondary p-button-text hover:bg-gray-500 py-1"
          routerLinkActive="routerLinkActive"
          routerLink="/podcasts"
          >Podcasts</a
        >
      </li>
    </ul>
  </div>
  @if (isInstallButtonVisible()) {
    <p-button
      class="mr-2 sm:mr-4"
      (click)="installPwa()"
      label="Install"
      [outlined]="true"
    />
  }
  <a
    class="p-button p-button-outlined mr-2 sm:mr-4 hidden sm:block"
    href="https://github.com/angular-sanctuary/angular-hub"
    target="_blank"
    aria-label="Link to GitHub repository"
    ><i class="pi pi-github"></i
  ></a>
</header>
<main class="pb-4">
  <router-outlet></router-outlet>
</main>

<p-sidebar [(visible)]="sidebarVisible">
  <ul class="flex flex-col gap-1">
    <!-- Navbar menu content here -->
    <li>
      <a
        class="hover:text-primary"
        routerLinkActive="sidebarActive"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        (click)="sidebarVisible = false"
        >Events</a
      >
    </li>
    <li>
      <a
        class="hover:text-primary"
        routerLinkActive="sidebarActive"
        routerLink="/communities"
        (click)="sidebarVisible = false"
        >Communities</a
      >
    </li>
    <li>
      <a
        class="hover:text-primary"
        routerLinkActive="sidebarActive"
        routerLink="/podcasts"
        (click)="sidebarVisible = false"
        >Podcasts</a
      >
    </li>
    <p-divider />
    <li>
      <a
        class="hover:text-primary"
        href="https://angular-hub.com/api/v1/swagger"
        target="_blank"
        >Community API</a
      >
    </li>
    <li>
      <a
        class="hover:text-primary"
        href="https://github.com/angular-sanctuary/angular-hub"
        target="_blank"
        >Contribute</a
      >
    </li>
  </ul>
</p-sidebar>
