<nav class="px-8 py-2 flex items-center justify-between">
  <a class="flex items-center gap-4" routerLink="/">
    <img class="h-10" src="/assets/images/logo.webp" alt="" />
    <span class="title text-4xl">ANGULAR HUB</span>
  </a>

  <ul class="flex gap-2">
    <!-- Navbar menu content here -->
    <li>
      <a
        class="flex gap-4 items-center px-4 py-3 rounded-xl"
        routerLinkActive="sidebarActive"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        (click)="sidebarVisible.set(false)"
      >
        <i aria-hidden="true" class="pi pi-calendar text-2xl"></i>
        Events
      </a>
    </li>
    <li>
      <a
        class="flex gap-4 items-center px-4 py-3 rounded-xl"
        routerLinkActive="sidebarActive"
        routerLink="/communities"
        (click)="sidebarVisible.set(false)"
      >
        <i aria-hidden="true" class="pi pi-users text-2xl"></i>
        Communities
      </a>
    </li>
    <li>
      <a
        class="flex gap-4 items-center px-4 py-3 rounded-xl"
        routerLinkActive="sidebarActive"
        routerLink="/podcasts"
        (click)="sidebarVisible.set(false)"
      >
        <i aria-hidden="true" class="pi pi-microphone text-2xl"></i>
        Podcasts
      </a>
    </li>
  </ul>
</nav>
<div class="flex-1">
  <main class="pb-4 h-full bg-gray-50 pt-6">
    <router-outlet />
  </main>
</div>
