<nav class="px-8 py-2 flex items-center justify-between">
  <a class="flex items-center gap-4" routerLink="/">
    <img class="h-8 lg:h-12" src="/assets/images/logo.webp" alt="" />
    <div class="flex flex-col">
      <span class="title text-3xl flex items-center gap-2">
        <span class="hidden md:block">ANGULAR</span>
        <span>HUB</span>
      </span>
      <h2 i18n class="hidden lg:block text-sm text-gray-500 dark:text-gray-300">The Angular community hub for events, communities, and podcasts</h2>
    </div>
  </a>

  <ul class="flex gap-2">
    <!-- Navbar menu content here -->
    <li>
      <a
        class="flex gap-4 items-center px-4 py-3 rounded-xl"
        [routerLinkActive]="['bg-purple-200', 'text-purple-700']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
      >
        <i aria-hidden="true" class="pi pi-calendar text-2xl"></i>
        <span class="hidden md:block" i18n>Events</span>
      </a>
    </li>
    <li>
      <a
        class="flex gap-4 items-center px-4 py-3 rounded-xl"
        [routerLinkActive]="['bg-purple-200', 'text-purple-700']"
        routerLink="/communities"
      >
        <i aria-hidden="true" class="pi pi-users text-2xl"></i>
        <span class="hidden md:block" i18n>Communities</span>
      </a>
    </li>
    <li>
      <a
        class="flex gap-4 items-center px-4 py-3 rounded-xl"
        [routerLinkActive]="['bg-purple-200', 'text-purple-700']"
        routerLink="/podcasts"
      >
        <i aria-hidden="true" class="pi pi-microphone text-2xl"></i>
        <span class="hidden md:block" i18n>Podcasts</span>
      </a>
    </li>
  </ul>
</nav>
<div class="flex-1">
  <main class="pb-4 h-full bg-gray-50 dark:bg-gray-900 pt-6">
    <router-outlet />
  </main>
</div>
