:host {
  display: flex;
  flex-direction: row;
}

.routerLinkActive {
  @apply text-secondary underline;
}

li a:hover,
.sidebarActive {
  background: rgb(191, 37, 185);
  background: linear-gradient(
    148deg,
    rgba(191, 37, 185, 1) 23%,
    rgba(146, 73, 194, 1) 48%,
    rgba(119, 94, 200, 1) 76%,
    rgba(86, 120, 207, 1) 86%,
    rgba(38, 159, 216, 1) 96%,
    rgba(0, 190, 224, 1) 100%
  );
}

nav {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  clip-path: inset(0px -15px 0px 0px);
}

.close-button {
  position: absolute;
  right: 20px;
}
